body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8dc;
    color: #333;
}


header {
    background-color: #f4c542;
    padding: 15px;
}


nav {
    display: flex;
    align-items: center;
}


#logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}


ul {
    display: flex;
    list-style-type: none;
    margin-left: 30px;
    gap: 30px;
}


li {
    cursor: pointer;
    padding: 10px;
}


li:hover {
    background-color: white;
    border-radius: 5px;
}


.page {
    display: none;
    padding: 40px;
}


#home {
    display: block;
}


h1 {
    color: #8a5a00;
}


table {
    border-collapse: collapse;
    width: 60%;
}


th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.active {
    background-color: white;
    border-radius: 5px;
}

.info-box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 60%;
    border-radius: 10px;
}


.info-box h2 {
    color: #8a5a00;
}